.form,
.field {
  margin: 0 0 20px;
}
.input {
  border: 0;
  border-radius: 3px;
  background: #16161a;
  color: #fffffe;
  display: block;
  font-size: inherit;
  margin: 5px 0 0;
  padding: 12px;
  width: 100%;
}
.input:focus {
  box-shadow: 0 0 3px 3px #7f5af0;
  outline: 0;
}
.button {
  border: 0;
  border-radius: 3px;
  background: #7f5af0;
  color: #fffffe;
  cursor: pointer;
  display: inline-block;
  line-height: 1.2;
  font-size: inherit;
  padding: 12px 16px;
}
.button:focus {
  box-shadow: 0 0 0 3px rgba(127, 90, 140, 0.3);
  outline: 0;
}
